body{
    background-image: url("img/wallpaper.jpeg");
    background-repeat: repeat;
    background-size: 150px;
}

h1{
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.1em;
}

#blackboard{
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.1em;
}

.write{
    position: relative;
    left:10%;
}


#cookie{
    perspective: 1000px;
}

#cookie img{
    transform: scale(1); /*original size*/
    transform-style: preserve-3d;
    transition: transform .3s;
}

#cookie img:active{
    transform: scale(0.98);
    transition: transform .2s;
}

.perClick{
    font-size: 2em;
}

.btn-multi,.btn-auto{
    border-color: rgb(128, 218, 240); 
    background-color: rgb(128, 218, 240);
}


.btn-bonus{
    border-color: lightcoral; 
    background-color: lightcoral;
}

.pColor{
    color: rgb(128, 218, 240);

}

h4,.pColor2,#timer{
    color: lightcoral;
}

.sign-container{
    position: relative;
    text-align: center;
}

.sign-container img{
    width: 80%;
}

li{
    font-size: 1.5em;
}

.bonusP{
    font-size: 0.8em;
    text-decoration-line: underline;
}

@media only screen and (max-width: 600px) {
    .sign-container img{
        width: 100%;
    }

    .perClick{
        font-size: 1em;
    }

    li{
        font-size: 1em;
    }
  }

.sign{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

