body{
    background-image: url("img/wallpaper.jpeg");
    background-repeat: repeat;
    background-size: 150px;
}

h1{
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.1em;
}

#blackboard{
    font-family: 'Amatic SC', cursive;
    letter-spacing: 0.1em;
}

.write{
    position: relative;
    top:10%;
    left:10%;
}

#cookie{
    perspective: 1000px;
}

#cookie img{
    transform: scale(1); /*original size*/
    transform-style: preserve-3d;
    transition: transform .3s;
}

#cookie img:active{
    transform: scale(0.97);
    transition: transform .2s;
}